*{
  margin: 0;
}
.app{
  background-color: #fafafa;
  height: 100vh;
}
.app__header{
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app__headerImage{
  object-fit: contain;
}
.app__signup{
  display: flex;
  flex-direction: column;
}
.app__signupImage{
  max-width: 50px;
  align-self: center;
}
.app__posts{
  padding: 20px;
  justify-content: center;
  margin: auto;
}

